@{
    ViewData["Title"] = "O nas, Kim jesteśmy?";
}
<div class="clearfix max-width-1000" style="padding-top: 20px;">
    <h1><i class="fas fa-place-of-worship"></i> @ViewData["Title"]</h1>
    <p id="banner" class="fs-5 text-center shadow p-3 mb-3 rounded">
        <img src="~/img/Ban_500x90_Bapt_Photo.jpg?ID=2" style="width: 100%;" alt="Kościół Chrześcijan Baptystów w Nowym Dworze Mazowieckim" />
    </p>
    <p class="fs-5">Jesteśmy placówką <a href="https://baptysci.waw.pl/formularz-kontaktowy/placowki-zboru/" class="link-success" target="_blank">zboru w&#160;Warszawie</a> i&#160;działamy na podstawie <a href="http://isap.sejm.gov.pl/DetailsServlet?id=WDU19950970480" class="link-dark" target="_blank">ustawy o stosunku państwa do kościoła chrześcijan baptystów w&#160;Rzeczypospolitej Polskiej</a>.</p>

    <a href="https://baptysci.waw.pl/formularz-kontaktowy/placowki-zboru/" target="_blank"><img id="WalicowLogo" class="col-md-6 float-md-end mb-3 ms-md-3" src="~/img/logo.svg" /></a>

    <p class="fs-5">
        Jesteśmy grupą chrześcijan, którzy pragną być kościołem Jezusa Chrystusa w&#160;Nowym Dworze Mazowieckim.
        Nie tak wielkie znaczenie ma budynek kościelny czy przyjęty porządek nabożeństwa.
        Najważniejszy jest Bóg Ojciec, Syn i&#160;Duch Święty, Któremu należy się wszelka cześć, chwała i&#160;szacunek, którego czcimy i wielbimy. Istotny jest również człowiek, za którego nasz Pan oddał swoje życie i&#160;przelał bezcenną krew na krzyżu.
    </p>

    <figure class="text-center">
        <blockquote class="blockquote">
            “Będziesz miłował Pana, Boga swego, z&#160;całego serca swego i&#160;z&#160;całej duszy swojej, i&#160;z&#160;całej myśli swojej. To jest największe i&#160;pierwsze przykazanie. A&#160;drugie podobne temu: Będziesz miłował bliźniego swego jak siebie samego. Na tych dwóch przykazaniach opiera się cały zakon i&#160;prorocy.”
        </blockquote>
        <figcaption class="blockquote-footer">
            <a href="../BW/470/22/37,38,39,40" class="text-decoration-none">Ewangelia Mateusza <cite>22:37-40</cite></a>
        </figcaption>
    </figure>

    <p class="fs-5">
        Jeżeli postrzegasz kościół Jezusa Chrystusa jako wspólnotę powołanych dzieci Bożych i&#160;masz podobne pragnienie by
        taka społeczność rozrastała się w&#160;Nowym Dworze Mazowieckim i&#160;okolicach to, prosimy, módl się by Bóg błogosławił
        i&#160;pomnażał liczbę tych, którzy mają być zbawieni.
    </p>

    <p class="fs-5">
        Nie chcemy tworzyć ludzkiej organizacji, ale być społecznością, której jedynym Zbawcą i&#160;głową jest Jezus Chrystus,
        ku chwale Boga Ojca, w&#160;której jest miejsce na przemożne działanie Ducha Świętego, w&#160;której głoszona jest
        pełna ewangelia, ewangelia skupiona wokół osoby Jezusa Chrystusa, Jego życia, Jego zbawczej śmierci na krzyżu,
        Jego zmartwychwstania.
    </p>

    <h2>Dane kontaktowe</h2>
    <p id="Brama" class="fs-5 float-sm-end w-25 text-center shadow p-3 mb-3 rounded"><img src="~/img/brama.jpg" style="width: 100%;" /></p>
    <p class="fs-5">
        <strong>
            I Zbór Kościoła Chrześcijan Baptystów w Warszawie<br />
            Placówka w Nowym Dworze Mazowieckim
        </strong><br />
        ul. Sukienna 52 - sala na piętrze<br />
        05-100 Nowy Dwór Mazowiecki<br />
        e-mail: info@kosciol-jezusa.pl<br />
        muzyka: <a href="https://soundcloud.com/koscioljezusa/" class="text-decoration-none"><i class="fab fa-soundcloud"></i> soundcloud.com/koscioljezusa</a><br />
        facebook:  <a href="https://www.facebook.com/koscioljezusa" class="text-decoration-none"><i class="fab fa-facebook"></i> www.facebook.com/koscioljezusa</a><br />
        youtube: <a href="https://youtube.com/channel/UCD1go_K0JxyNkuss9mZ-8HQ" title="Nasz kanał na YouTube" class="text-decoration-none"><i class="fab fa-youtube"></i> youtube.com/.../UCD1go_K0JxyNkuss9mZ-8HQ</a><br />
        www:  <a href="http://www.kosciol-jezusa.pl" class="text-decoration-none"><i class="fas fa-globe"></i> www.kosciol-jezusa.pl</a> |  <a href="https://baptysci.pl/zbory" class="text-decoration-none">www.baptysci.pl</a> | <a href="https://baptysci.waw.pl/formularz-kontaktowy/placowki-zboru/" class="text-decoration-none">www.baptysci.waw.pl</a><br />
    </p>
    <p class="fs-6">
        <strong>Konto bankowe</strong>:<br />
        <img src="~/img/baptysci-logo-2.svg" style="float:left; height: 150px; max-width: 30%; margin-right: 10px;" />
        I Zbór Kościoła Chrześcijan Baptystów w&#160;Warszawie<br />
        Placówka w&#160;Nowym Dworze Mazowieckim<br />
        PKO Bank Polski<br />
        <b>10 1020 1185 0000 4902 0236 0147</b><br />
        NIP: 527-21-76-307
    </p>
</div>
