@{
    ViewData["Title"] = "Nabożeństwa, grupy biblijne i szkoła niedzielna";
}

<div class="max-width-1000" style="padding-top: 20px;">
    <h1><i class="fas fa-church"></i> @ViewData["Title"]</h1>
    <p class="fs-5 text-center shadow p-3 mb-3 rounded">
        <img src="~/img/Ban_500x90_Bapt_Photo.jpg" style="width: 100%;" alt="Kościół Chrześcijan Baptystów w Nowym Dworze Mazowieckim" />
    </p>
    <p class="fs-5">
        Zapraszamy na nabożeństwo, które odbywa się każdej <strong>niedzieli</strong> o&#160;godzinie <strong>11:00</strong>
        oraz grupę biblijną, która odbywa się w&#160;każdy <strong>czwartek</strong> o&#160;godzinie <strong>17:30</strong>. (<a href="../BW/650/10/25" target="_blank" class="text-decoration-none">Heb 10:25</a>)
    </p>

    <p class="fs-5">W <strong>soboty</strong> o godzinie <strong>17:00</strong> spotykamy się na modlitwie. (<a href="../BW/510/16/16" target="_blank" class="text-decoration-none">Dz.A. 16:16</a>)</p>

    <div class="bd-callout bd-callout-info">
        <p class="fs-5">Nabożeństwa odbywają się w sali na piętrze w budynku przy ulicy <strong>Sukiennej&#160;52</strong> (przy Placu Solnym) w Nowym Dworze Mazowieckim o&#160;godzinie 11:00, a&#160;grupy biblijne w&#160;czwartki o&#160;godzinie 17:30.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d180.80055222098338!2d20.712181720417703!3d52.432904184420345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ea5f5a8f74e2b%3A0xe825e38ced4644d5!2sKo%C5%9Bci%C3%B3%C5%82%20Chrze%C5%9Bcijan%20Baptyst%C3%B3w%20w%20Nowym%20Dworze%20Mazowieckim!5e0!3m2!1spl!2spl!4v1603713692045!5m2!1spl!2spl" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="card" style="width: 100%; margin: auto; max-width: 100%; background-color: transparent; border: 0;">
                <div class="card-body">
                    <h5 class="card-title">Kazania</h5>
                    <p class="card-text">
                        Kazania dostępne są na naszym profilu na <a href="https://www.facebook.com/koscioljezusa" target="_blank" title="Nasz profil na portalu Facebook.com"><i class="fab fa-facebook"></i></a> oraz na <a href="https://www.youtube.com/channel/UCD1go_K0JxyNkuss9mZ-8HQ" target="_blank" title="Nasz profil na YouTube"><i class="fab fa-youtube"></i></a>
                    </p>
                    <iframe id="YouTubeFrame" width="850" height="600" style="margin: auto;" src="https://www.youtube.com/embed/videoseries?list=PLUYRCCWSMh69waBP7LPvu_aAm8pkKL6Gh" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <br/><a href="https://www.youtube.com/channel/UCD1go_K0JxyNkuss9mZ-8HQ" class="btn btn-primary" target="_blank"><i class="fab fa-youtube"></i> Otwórz</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 100%; margin: auto; max-width: 100%; background-color: transparent; border: 0;">
                <div class="card-body">
                    <h5 class="card-title">Aktualności</h5>
                    <p class="card-text">
                        Najbardziej aktualne informacje, zdjęcia, nagrania z naszych spotkań znaleźć można na naszym <a href="https://www.facebook.com/koscioljezusa" target="_blank">fanpage na facebooku</a>.
                    </p>

                    <div id="FacebookFrame" class="fb-page" data-href="https://www.facebook.com/koscioljezusa" data-tabs="timeline" data-width="850" data-height="800" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/koscioljezusa" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/koscioljezusa">Kościół Chrześcijan Baptystów w Nowym Dworze Mazowieckim</a></blockquote></div>
                    <br/><a href="https://www.facebook.com/koscioljezusa" class="btn btn-primary" target="_blank"><i class="fab fa-facebook"></i> Otwórz</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="mt-3"><i class="fas fa-child"></i> Dla dzieci i młodzieży</h2>
    <p class="fs-5 mt-3">
        Zajęcia religii dla dzieci i&#160;młodzieży odbywają się w każdą niedzielę.
        Na mocy <a href="http://bip.nowydwormaz.pl/public/popup.php?id_menu_item=198006" class="link-success">porozumienia naszych miejscowości</a> oraz <a href="http://isap.sejm.gov.pl/DetailsServlet?id=WDU19950970480" class="link-success" target="_blank">ustawy o stosunku państwa do kościoła chrześcijan baptystów w&#160;Rzeczypospolitej Polskiej</a> prowadzimy punkt katechetyczny i&#160;wystawiamy zaświadczenia do szkół podstawowych i&#160;gimnazjów dotyczących uczęszczania na lekcje religii.
        Wszelkie pytania dotyczące szkoły niedzielnej można kierować na adres <a href="mailto:pk@kosciol-jezusa.pl" class="link-secondary">pk@kosciol-jezusa.pl</a>
    </p>


</div>
