@{
    ViewData["Title"] = "W co wierzymy?";
}
@inject IConfiguration Configuration 
<style>
    .list-group-item {
        display: list-item;
    }
</style>
<div class="max-width-1000" style="padding-top: 20px;">
    <h1><i class="fas fa-praying-hands"></i> @ViewData["Title"]</h1>
    <p id="banner" class="fs-5 text-center shadow p-3 mb-3 rounded">
        <img src="~/img/Ban_500x90_Bapt_Photo.jpg?ID=2" style="width: 100%;" alt="@Configuration["PageTitle"]" />
    </p>
    @*<p id="WhatWeBelieveIcon"><img src="~/img/baptysci-logo-2.svg" style="max-width: 20%; margin-left: 10px; float: right;" /></p>*@
    <p class="fs-5">
        Kościół baptystyczny ma już ponad 400 lat. Powstał w&#160;1609 roku, w&#160;wyniku spotkania dwóch tradycji XVI wiecznej reformacji – menonickiej (anabaptystycznej) i&#160;purytańskiej (kalwińskiej).
        Nasza specyfika - umiłowanie teologii biblijnej, ale i&#160;autentycznego doświadczenia chrześcijańskiego - ukształtowana w&#160;ciągu kilkuset lat istnienia sprawia, że współczesny baptyzm nie boi się ani pogłębionej teologii, ani osobistych doświadczeń duchowych.
    </p>
    <p class="fs-5">
        Nie łatwo jest w&#160;kilku zdaniach ująć to, w&#160;co kościół wierzy od początku.
        W&#160;tym celu tworzono katechizmy, sumy teologiczne, komentarze biblijne i&#160;inne opracowania.
        Poniższa lista bynajmniej nie wyczerpuje tematu a&#160;jedynie sygnalizuje pewnien określony kierunek.
    </p>
    <ol class="list-group-flush" style="padding-left: 35px;">
        <li class="list-group-item">Bóg jest jeden, objawiony w&#160;trzech osobach: Ojca, Syna i&#160;Duch  Świętego; </li>
        <li class="list-group-item"><a asp-controller="Home" asp-action="AboutBible">Pismo Święte (Stary i&#160;Nowy Testament)</a> jest natchnione przez Boga i&#160;jest ono jedynym autorytetem w&#160;sprawach życia i&#160;wiary (Sola Scriptura);</li>
        <li class="list-group-item">Jezus Chrystus jest Synem Bożym, przedwiecznym Bogiem zrodzonym z&#160;Ojca a&#160;poczętym z&#160;Ducha Świętego, narodzonym z&#160;Marii dziewicy jako Syn Człowieczy (Unia hipostatyczna tj. jednocześnie Bóg i człowiek bez zmiany, bez pomieszania, bez rozdzielenia, bez rozłączenia natur);</li>
        <li class="list-group-item">Jezus Chrystus umarł na krzyżu za grzech świata i&#160;zmartwychwstał w&#160;ciele; Wniebowstąpił i&#160;powtórnie przyjdzie w&#160;chwale;</li>
        <li class="list-group-item">Zbawienie jest łaską od Boga i&#160;człowiek może je otrzymać wyłącznie na podstawie wiary (Sola fide, Sola gratia) w&#160;Jezusa Chrystusa jako Pana i&#160;Zbawiciela (Solus Christus), czego widocznym znakiem jest opamiętanie, pokuta i&#160;żal za wcześniej popełnione grzechy.</li>
        <li class="list-group-item">Jedynie Bóg jest obiektem czci Kościoła i&#160;ostatecznym celem życia człowieka (Soli Deo gloria);</li>
        <li class="list-group-item">Chrzest jest Bożym ustanowieniem, wyrazem oddania swojego życia Jezusowi Chrystusowi i&#160;musi zostać przyjęty świadomie, po wyznaniu wiary;</li>
        <li class="list-group-item">Odrodzenie człowieka do życia z&#160;Bogiem i&#160;uświęcenie jest możliwe tylko poprzez otrzymanie daru Ducha Świętego a&#160;nie na podstawie uczynów i&#160;ludzkiej sprawiedliwości;</li>
        <li class="list-group-item">Drugim ustanowieniem i nakazem Pana Jezusa jest obchodzenie przez Kościół pamiątki Wieczerzy Pańskiej pod dwoma postaciami;</li>
        <li class="list-group-item">Kościół Jezusa Chrystusa jest jeden, święty, powszechny i&#160;apostolski.</li>
        <li class="list-group-item">Kościół czeka na ponowne przyjście Pana Jezusa Chrystusa i pochwycenie oraz pełnię władzy i&#160;panowania Bożego w&#160;Jego Królestwie.</li>
    </ol>
    <p class="mt-3">
        <a class="btn btn-primary" href="https://baptysci.pl/naszawiara/wyznaniewiary" target="_blank"><i class="fas fa-praying-hands"></i> Pełne wyznanie wiary</a>
    </p>
</div>
