<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AsposeLic" value="..\..\\..\\..\\..\\..\\Aspose.Total.lic" />
		<add key="Host" value="https://kosciol-jezusa.pl"/>
	</appSettings>
	<connectionStrings>
		<add name="DB" connectionString="XpoProvider=SQLite;data source=..\..\..\..\..\..\db\IBE.SQLite3" />
	</connectionStrings>
</configuration>