@inject IConfiguration Configuration

<div class="fs-5 text-center shadow p-3 mb-3 rounded" style="background-image: url('/img/flaga-ukrainy.png'); background-repeat: no-repeat; background-size: cover; min-height: 300px;">
    <div class="row g-0 m-0">
        <div class="col-auto" style="max-width: 10%;">
            <img src="~/img/baptysci-logo-2.svg" style="margin-right: 10px;" />
        </div>
        <div class="col">
            <h1>@Configuration["PageTitle"]<br /><br /></h1>
        </div>
    </div>
    <div class="row g-0 m-0" style="font-size: 120%;">

        <div class="col"><b>Nabożeństwo:</b> Niedziela 11:00</div>
    </div>
    <div class="row g-0 m-0" style="font-size: 120%;">
        <div class="col"><b>Grupa Biblijna:</b> Czwartek 17:30</div>
    </div>
</div>