@{
    ViewData["Title"] = "O nas, Kim jesteśmy?";
}
@inject IConfiguration Configuration 
@model HtmlFileData

<div class="clearfix max-width-1000" style="padding-top: 20px;">
    @await Html.PartialAsync("~/Views/Shared/_Baner.cshtml")    
    <h1><i class="fas fa-place-of-worship"></i> @ViewData["Title"]</h1>
    @await Html.PartialAsync("~/Views/Shared/_ChatGPT.cshtml")

    @if (Model != null) {
        @Html.Raw(Model.Data)
    }
</div>
