@{
    ViewData["Title"] = "Studium biblijny";
}
@inject IConfiguration Configuration

@section HeaderScripts {
    <style>
        #start-button {
            font-size: 200%;
            padding: 0.5em;
            border-radius: 0.5em;
        }            
    </style>
}

<div class="clearfix max-width-1000" style="padding-top: 20px;">
    @await Html.PartialAsync("~/Views/Shared/_CourseBaner.cshtml")


    <h2>Zasady studium</h2>
    <p class="fs-5">Celem studium jest poznanie Boga i&nbsp;zbliżenie się do Niego poprzez Jego Święte Słowo. W&nbsp;osiągnięciu tego celu pomocne będą poniższe zasady:</p>
    <ol>
        <li>
            W&nbsp;pierwszej kolejności korzystaj z&nbsp;Biblii. Użyty przekład Pisma Świętego nie jest tu istotny o&nbsp;ile
            jest on tłumaczeniem z&nbsp;języków oryginalnych i&nbsp;nie jest parafrazą lub przekładem dynamicznym.<br />
            <b>Zachęcamy do korzystania z&nbsp;takiej Biblii, jaka jest dostępna w&nbsp;twoim domu.</b>
            Jeżeli nie posiadasz egzemplarza drukowanego, to możesz użyć jednego z&nbsp;przekładów dostępnych na naszej stronie,
            np. <a href="/BW">Biblii Warszawskiej</a>. Dopiero w&nbsp;dalszej kolejności można skorzystać z&nbsp;komentarzy, atlasów, konkordancji i&nbsp;wszelkich słowników.
        </li>
        <li>Zachęcamy, aby wysyłać pracę w terminie jednego tygodnia, wierzymy, że będzie to miało lepszy wpływ na naukę i&nbsp;zrozumienie.</li>
        <li>Każda lekcja zawiera link do filmu na naszym kanale YouTube. Można go obejrzeć po przeczytaniu zadanego fragmentu, dzięki temu łatwiej będzie odpowiadać na pytania.</li>
    </ol>

    <p style="text-align: center;">
        <a id="start-button" class="btn btn-primary" title="Rozpocznij studium biblijne" href="/BibleStudy/Signup">Rozpocznij studium biblijne</a>
    </p>

    <h3>Zachęta:</h3>
    <figure class="text-center">
        <blockquote class="blockquote">
            „Całe Pismo przez Boga jest natchnione i&nbsp;pożyteczne do nauki, do wykrywania błędów, do
            poprawy, do wychowywania w sprawiedliwości, aby człowiek Boży był doskonały, do
            wszelkiego dobrego dzieła przygotowany.”
        </blockquote>
        <figcaption class="blockquote-footer"><a href="/BW/620/3/16,17" target="_blank">2 list do Tymoteusza 3:16-17</a></figcaption>
        <blockquote class="blockquote">
            „Bo Słowo Boże jest żywe i&nbsp;skuteczne, ostrzejsze niż wszelki miecz obosieczny, przenikające
            aż do rozdzielenia duszy i&nbsp;ducha, stawów i&nbsp;szpiku, zdolne osądzić zamiary i&nbsp;myśli serca;”
        </blockquote>
        <figcaption class="blockquote-footer"><a href="/BW/650/4/12" target="_blank">List do Hebrajczyków&nbsp;4:12</a></figcaption>
        <blockquote class="blockquote">
            „Z&nbsp;całego serca szukam ciebie, Nie daj mi zboczyć od przykazań twoich! W&nbsp;sercu moim
            przechowuję słowo twoje, Abym nie zgrzeszył przeciwko tobie. Błogosławiony Tyś, Panie.
            Naucz mię ustaw twoich!”
        </blockquote>
        <figcaption class="blockquote-footer"><a href="/BW/230/119/10,11,12" target="_blank">Psalm&nbsp;119:10-12</a></figcaption>
    </figure>
</div>