@{
    ViewData["Title"] = "Zamiana Siglum na URL";
    var _url = Model != null ? Model.Url : String.Empty;
}
@inject IConfiguration Configuration
@model ScriptureModel
<div class="max-width-1000" style="padding-top: 20px;">
    @await Html.PartialAsync("~/Views/Shared/_Baner.cshtml")

    <h1><i class="fas fa-balance-scale"></i> @ViewData["Title"]</h1>
    <form method="post" style="background-color: rgba(255,255,255,0.1); padding: 15px; border-radius: 10px;">
        <div class="form-group">
            <label asp-for="Siglum" class="control-label">Siglum</label>
            @Html.TextBoxFor(m => m.Siglum, new { @class = "form-control" })
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Url" class="control-label">Url</label>
            <div class="input-group">
                <input type="text" name="Url" value="@_url" class="form-control" />
                <button id="copy-button" 
                        type="button"
                        class="btn btn-light topnav-button" 
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-title="Kopiuj URL"
                        onclick="copyToClipboard3('@_url')">
                    <i class="far fa-copy"></i>
                </button>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Wyślij" class="btn btn-default btn-primary" />
        </div>
    </form>

</div>