@{
    ViewData["Title"] = "Akty prawne";
}
@model HtmlFileData
@section HeaderScripts {
    <style>
        h1, h2 {
            margin-top: 20px;
        }

        a {
            text-decoration: none;
        }
    </style>
}
<div class="max-width-1000" style="padding-top: 20px;">
    @await Html.PartialAsync("~/Views/Shared/_Baner.cshtml")
    <h1><i class="fas fa-file-contract"></i> @ViewData["Title"]</h1><br />

    @if (Model != null) {
        @Html.Raw(Model.Data)
    }
</div>