<div class="chatgpt-wrapper">
    <div class="btn-group chatgpt-btn-group">
        <a target="_blank" type="button" class="chatgpt btn btn-primary" href="https://chatgpt.com/g/g-EFuqOChJS" data-bs-toggle="tooltip" data-bs-title="Dowiedz się więcej o Kościele Chrześcijan Baptystów w Nowym Dworze Mazowieckim, korzystając z dedykowanego modelu ChatGPT"><img src="/img/chatgpt-primary.svg" alt="" />  Pytania dotyczące wspólnoty</a>

        <a target="_blank" type="button" class="chatgpt btn btn-danger" href="https://chatgpt.com/g/g-9T5d03hnv" data-bs-toggle="tooltip" data-bs-title="Dowiedz się więcej o teologii reformowanej uznawanej w naszej wspólnocie, korzystając z dedykowanego modelu ChatGPT"><img src="/img/chatgpt-danger.svg" alt="" /> Pytania dotyczące teologii</a>

        <a target="_blank" type="button" class="chatgpt btn btn-success" href="https://chatgpt.com/g/g-bTRkLg4tx" data-bs-toggle="tooltip" data-bs-title="Dowiedz się więcej o protestantyzmie, korzystając z dedykowanego modelu ChatGPT"><img src="/img/chatgpt-success.svg" alt="" /> Najczęściej zadawane pytania</a>       
    </div>
    <a type="button" class="btn btn-secondary" asp-area="" asp-controller="BibleByVerse" asp-action="Index"><i class="fa-solid fa-lines-leaning"></i> <b>Biblia Internetowa</b> - porównaj tekst oryginalny z uznanymi przekładami</a>
   
</div>
<br />