<div class="chatgpt-wrapper">
@*     <div class="btn-group chatgpt-btn-group">
        <a target="_blank" type="button" class="chatgpt btn btn-primary" href="https://chatgpt.com/g/g-EFuqOChJS" data-bs-toggle="tooltip" data-bs-title="Dowiedz się więcej o Kościele Chrześcijan Baptystów w Nowym Dworze Mazowieckim, korzystając z dedykowanego modelu ChatGPT"><img src="/img/chatgpt-primary.svg" alt="" />  O nas</a>

        <a target="_blank" type="button" class="chatgpt btn btn-danger" href="https://chatgpt.com/g/g-9T5d03hnv" data-bs-toggle="tooltip" data-bs-title="Dowiedz się więcej o teologii reformowanej uznawanej w naszej wspólnocie, korzystając z dedykowanego modelu ChatGPT"><img src="/img/chatgpt-danger.svg" alt="" /> Teologia</a>

        <a target="_blank" type="button" class="chatgpt btn btn-success" href="https://chatgpt.com/g/g-bTRkLg4tx" data-bs-toggle="tooltip" data-bs-title="Dowiedz się więcej o protestantyzmie, korzystając z dedykowanego modelu ChatGPT"><img src="/img/chatgpt-success.svg" alt="" /> FAQ</a>

        <a target="_blank" type="button" class="chatgpt btn btn-warning" href="https://www.bing.com/chat?sendquery=1&q=Ko%C5%9Bci%C3%B3%C5%82%20Chrze%C5%9Bcijan%20Baptyst%C3%B3w%20w%20Nowym%20Dworze%20Mazowieckim&form=HECODX" data-bs-toggle="tooltip" data-bs-title="Dowiedz się więcej o Kościele Chrześcijan Baptystów w Nowym Dworze Mazowieckim, korzystając z Copilot"><img src="/img/copilot.svg" alt="" /> Copilot</a>
    </div> *@
  
        <a type="button" class="btn btn-dark" asp-area="" asp-controller="BibleByVerse" asp-action="Index" style="width: 100%; font-size: 120%;"><i class="fa-solid fa-lines-leaning"></i> <b>Biblia Internetowa</b> - porównaj tekst oryginalny z&nbsp;uznanymi przekładami</a>

</div>
<br />