@{
    ViewData["Title"] = "Materiały dla liderów";
}
@section HeaderScripts {
    <style>
        h1, h2 {
            margin-top: 20px;
        }
    </style>
}
    <div class="max-width-1000" style="padding-top: 20px;">
        <div style="text-align: center; margin: auto; max-width: 300px;">
            <img src="/download/Pawson/pol_pl_Fundamenty-wiary-David-Pawson-wyklady-CD-MP3-1683_10.png" />
        </div>
        <div>
            <h1>David Pawson - Fundamenty wiary</h1>
            <p>Kim jest autor - <a href="https://pl.wikipedia.org/wiki/David_Pawson">wikipedia.pl</a>, <a href="https://www.davidpawson.org/">www.davidpawson.org</a>.</p>
        </div>
        <div class="row">
            <div class="col-auto">
                <h2>Studiując Biblię</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                1.
            </div>
            <div class="col">
                <a href="/download/Pawson/01.Studiujac-Biblie-cz.1.mp3" class="link text-decoration-none">Studiując Biblię - część pierwsza</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                2.
            </div>
            <div class="col">
                <a href="/download/Pawson/01.Studiujac-Biblie-cz.2.mp3" class="link text-decoration-none">Studiując Biblię - część druga</a>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <h2>Przymierza</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                3.
            </div>
            <div class="col">
                <a href="/download/Pawson/03.Przymierza-Wprowadzenie-cz.1.mp3" class="link text-decoration-none">Przymierza - Wprowadzenie</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                4.
            </div>
            <div class="col">
                <a href="/download/Pawson/04.Przymierza-Noego-i-Abrahamowe-cz.2.mp3" class="link text-decoration-none">Przymierze Noego i Abrahamowe</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                5.
            </div>
            <div class="col">
                <a href="/download/Pawson/05.Przymierza-Abrahamowe-i-Mojzeszowe-cz.3.mp3" class="link text-decoration-none">Przymierze Abrahamowe i Mojżeszowe</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                6.
            </div>
            <div class="col">
                <a href="/download/Pawson/06.Przymierza-Mojżeszowe-i-Dawidowe-cz.4.mp3" class="link text-decoration-none">Przymierze Mojżeszowe i Dawidowe</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                7.
            </div>
            <div class="col">
                <a href="/download/Pawson/07.Przymierze-Mesjanskie-cz.5.mp3" class="link text-decoration-none">Przymierze Mesjańskie</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto">
                <h2>5 słów</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                8.
            </div>
            <div class="col">
                <a href="/download/Pawson/08.Zbawienie-cz.1.mp3" class="link text-decoration-none">Zbawienie</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                9.
            </div>
            <div class="col">
                <a href="/download/Pawson/09.Laska-cz.2.mp3" class="link text-decoration-none">Łaska</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                10.
            </div>
            <div class="col">
                <a href="/download/Pawson/10.Wiara-cz.3.mp3" class="link text-decoration-none">Wiara</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                11.
            </div>
            <div class="col">
                <a href="/download/Pawson/11.Krolestwo-Boze-cz.4.mp3" class="link text-decoration-none">Królestwo Boże</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                12.
            </div>
            <div class="col">
                <a href="/download/Pawson/12.Przyjscie-Jezusa-cz.5.mp3" class="link text-decoration-none">Przyjście Jezusa</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto">
                <h2>Przesłanie do przywódców</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                13.
            </div>
            <div class="col">
                <a href="/download/Pawson/13.Przesłanie-do-przywodcow-cz.1.mp3" class="link text-decoration-none">Przesłanie do przywódców - część pierwsza</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                14.
            </div>
            <div class="col">
                <a href="/download/Pawson/14.Przesłanie-do-przywodcow-cz.2.mp3" class="link text-decoration-none">Przesłanie do przywódców - część druga</a>
            </div>
        </div>


        <div class="row">
            <div class="col-auto">
                <h2>Boża miłość i sprawiedliwość</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                15.
            </div>
            <div class="col">
                <a href="/download/Pawson/15.Sprawiedliwosc-Boza.mp3" class="link text-decoration-none">Sprawiedliwość Boża</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                16.
            </div>
            <div class="col">
                <a href="/download/Pawson/16.Jana-3-16.mp3" class="link text-decoration-none">Jana 3:16</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto">
                <h1>Przydatne książki</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                1.
            </div>
            <div class="col">
                <a href="/download/josh-mcdowell-wiarygodnosc-pisma-swietego.pdf" class="link text-decoration-none">Josh McDowell - Wiarygodność Pisma Świętego</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                2.
            </div>
            <div class="col">
                <a href="/download/alfred-palla-historyczna-wiarygodnosc-starego-testamentu.pdf" class="link text-decoration-none">Alfred J. Palla - Historyczna wiarygodność Starego Testamentu</a>
            </div>
        </div>

        <div class="row">
            <div class="col-auto" style="min-width: 60px;">
                3.
            </div>
            <div class="col">
                <a href="/download/egzegeza-np.pdf" class="link text-decoration-none">Piotr Zaremba - Egzegeza Nowego Przymierza wyd.2</a>
            </div>
        </div>
    </div>
