@{
    ViewData["Title"] = "Materiały dla liderów";
}
@model HtmlFileData
@section HeaderScripts {
    <style>
        h1, h2 {
            margin-top: 20px;
        }
    </style>
}

<div class="max-width-1000" style="padding-top: 20px;">
    @await Html.PartialAsync("~/Views/Shared/_Baner.cshtml")
    <h1><i class="fas fa-book-reader"></i> @ViewData["Title"]</h1><br />

    @Html.Raw(Model.Data)
</div>